# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/s

# Dotenv file
.env
old_reflax

metascripts/

TODO.md
testResults
.envrc
.certora_internal/
certora/.venv
certora/certora-env
certora/reports

src_flat*
certora/temp_*.sol
